<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain-based Sensor Data Integration</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container mb-2">
        <div class="p-2 bg-secondary bg-opacity-25 rounded text-center">
          <h4>Blockchain-based Sensor Data Integration</h4> 
        </div>
    </div>
    
    <!-- Alerts container -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container mb-2" id="alertForm">          
        <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg> -->
            <div>{{ message }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>         
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Tabs -->
    <div class="container mb-2: 'body'">
        <ul class="nav nav-tabs" role="tablist">
            <!-- <li class="nav-item" role="presentation">
                <button class="nav-link active" id="network-tab" data-bs-toggle="tab" data-bs-target="#network-tab-pane" type="button" role="tab" aria-controls="network-tab-pane" aria-selected="true">Network</button>
            </li> -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="filter-tab" data-bs-toggle="tab" data-bs-target="#filter-tab-pane" type="button" role="tab" aria-controls="filter-tab-pane" aria-selected="true">Sensor data filter</button>
                <!-- <button class="nav-link" id="filter-tab" data-bs-toggle="tab" data-bs-target="#filter-tab-pane" type="button" role="tab" aria-controls="filter-tab-pane" aria-selected="false">Sensor data filter</button> -->
            </li>
        </ul>
        <div class="tab-content mt-3">
            <!-- <div class="tab-pane fade show active" id="network-tab-pane" role="tabpanel" aria-labelledby="network-tab" tabindex="0">
          
                <form class="row g-3">
                    <div class="col-auto">
                        <label class="form-control-plaintext" id="testtext">Currently connected:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" id="network-list">
                            <option>Ethereum, local</option>
                            <option>Ethereum Ropsten, public</option>
                        </select>                    
                    </div>
                   
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Connect</button>
                    </div>
                </form>
            </div> -->
            
            <!-- Filter     -->
            <div class="tab-pane fade show active" id="filter-tab-pane" role="tabpanel" aria-labelledby="filter-tab" tabindex="0">
            <!-- <div class="tab-pane fade" id="filter-tab-pane" role="tabpanel" aria-labelledby="filter-tab" tabindex="0">                 -->
                <form class="row g-3" method='POST'>
                    <div class="col-auto">
                        <label class="form-control-plaintext">Sensor:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" id="sensorList" name="sensoList">
                            <option>temperature</option>
                            <option>humidity</option>
                            <option>visibility</option>
                            <option>apparentTemperature</option>
                            <option>pressure</option>
                            <option>windSpeed</option>
                            <option>cloudCover</option>
                            <option>windBearing</option>
                            <option>precipIntensity</option>
                            <option>dewPoint</option>
                            <option>precipProbability</option>
                        </select>                    
                    </div>
                    <div class="col-auto">
                        <label class="form-control-plaintext" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Setting all values to zero removes all filtering">Set Thresholds:</label>
                    </div>              
                    <div class="col-auto">                        
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" step="0.01"  class="form-control" id="inputLow" name="inputLow" placeholder="Lower threshold">
                    </div>              
                    <div class="col-auto">                        
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" step="0.01"  class="form-control" id="inputHigh" name="inputHigh" placeholder="Upper threshold">
                    </div>
                    <!-- Filter button -->
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3" id="buttonApply" name="buttonApply">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Alerts container -->
    <div class="container mb-2" id="alertNewData_cont">       
    </div>

    <!-- Table -->
    <div class="container mt-4" >
        <table class="table table-striped table-sm" id="sensorTable">
            <thead>
                <tr>
                  <th scope="col" style="width:30%">Date</th>
                  <th scope="col" style="width:35%">Sensor</th>
                  <th scope="col">Value</th>
                </tr>
            </thead>
        </table>   
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <!-- Initialize Tooltip: -->
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    
    <!-- Create a table -->
    <script>
      $(document).ready(function () {
        $('#sensorTable').DataTable({
          ajax: '/data',
          columnDefs: [
            {
                render: function (data, type, row) {
                    return data / 10000.0;
                },
                targets: 2,
            },
          ],
          order: [[0, 'desc']],
        });
      });
    </script>

    <!-- Alerts -->
    <script>
        const alertPlaceholder = document.getElementById('alertNewData_cont')

        const alert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible fade show d-flex align-items-center" role="alert">`,
                `   ${icon}`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
        }
  
        img_info = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Info:"> <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/> </svg>'
        img_tri = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>'


        setInterval(                               //Periodically 
            function()
            {
                $.getJSON(                            //Get some values from the server
                    '/newdata',      // At this URL
                    {},                                // With no extra parameters
                    function(data)                     // And when you get a response
                    {
                        if (Object.keys(data).length !== 0) {
                            alert(message='<strong>' + data.time + ':</strong> New <a href="/notification/'+ data.page + '" class="alert-link">' + data.amount + ' data item(s)</a> have been added to the blockchain', type='danger', icon=img_tri)

                        }                      
                    });
            },
            10000); 
    </script>

  </body>
</html>